body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header.main-header {
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: grid;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

     .navbar .navbar-brand {
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
    }
    
    .navbar-dark .navbar-brand {
        color: #fff;
    }
header.sticky {
    padding: 0px;
    background-color: #fff;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        }
    .sticky .navbar-expand-lg .navbar-brand {
        color: #3f3a64;
    }
    .sticky .navbar-dark .navbar-nav .nav-link {
       color: #3f3a64;
    }
    

/* body,
html {
    scroll-behavior: smooth;
    color: #636363;
    font-family: "jost", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: .8;
    font-family: 'Jost', sans-serif;
} */

/* a {
    background-color: #090909;
    text-decoration: none;
} */

.navbar-brand p {
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
}

#portnavbar li {
    font-size: 18px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1199px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.navbar-brand i {
    color: rgb(28, 171, 92);
}

.navbar {
    justify-content: space-between;
}

/* w3l-about-breadcrumb */
h2.title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    /* z-index: 1; */
    position: relative;
}

p.inner-page-para {
    color: #fff;
    font-size: 20px;
    opacity: 0.7;
}

/* w31-aboutblock1 */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.left-wthree-img img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}

.left-wthree-img .position-relative {
    z-index: 1;
}

.bg-shape {
    border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    background: #009f4d;
    opacity: .4;
    position: absolute;
    top: 0;
    z-index: -1;
}

.imginfo__box {
    background-color: #009f4d;
    color: #fff;
    position: absolute;
    right: 85px;
    bottom: 10px;
    padding: 35px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    border-radius: var(--border-radius);
    min-height: 200px;
    transform: rotate(45deg);
    text-align: center;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.imginfo__info {
    transform: rotate(-45deg);
}

.imginfo__box .imginfo__title {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}

.imginfo__box p {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

body button,
.btn,
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 166, 63, 0.25);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* #nut1 {
    margin-top: 20px !important;
}
#chay {
    margin-top: 30px !important;
} */
.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 8px;
}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
    box-shadow: 0 0 0 0.2rem rgba(38, 179, 92, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00732c;
    border-color: #006627;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 179, 92, 0.5);
}

span.video-play-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 22px;
    padding-left: 5px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #009f4d;
    border: 3px solid #009f4d;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-close,
.mfp-close:active {
    top: -40px;
}

/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


.justify-content-center {
    justify-content: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w3l-aboutblock1 .area-box {
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 1rem 2rem var(--box-shadow-color);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.w3l-aboutblock1 .area-box i {
    font-size: 38px;
    width: 40px;
    color: #009f4d;
}

.w3l-aboutblock1 h4 a.title-head {
    display: block;
    color: #3f3a64;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 0;
    text-decoration: none;
}

.w3l-aboutblock1 h4 a.title-head:hover {
    color: #009f4d;
}

/* Aboutpage with image section */
.w3l-about2 {
    background: #f8f9fa;
}

.w3l-about2 .cwp23-text-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 40px;
}

.w3l-about2 .column span {
    color: #009f4d;
    font-size: 35px;
    display: block;
    margin-bottom: 15px;
}

.w3l-about2 .cwp23-text-cols h4 {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 28px;
    color: #3f3a64;
    display: inline-block;
    font-weight: 600;
    transition: 0.3s ease-in;
}

.radius-image {
    border-radius: 8px;
}

/*  */
.w3l-about4 {
    background: url(../img__aboutus/bg1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
}
#cover::before{
    content: "";
    background: #000;
    position:absolute;
    top:0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
    height: 100%;
    z-index: 0;
    
}

.w3l-about4:before {
    content: "";
    background-color: var(--layer);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-about4 .heading {
    max-width: 700px;
}

.w3l-about4 h3 {
    color: #fff;
}

.w3l-about4 .heading p {
    color: #eee;
}

.w3l-about4 .play-view {
    display: inline-block;
}

.w3l-about4 span.video-play-icon {
    -webkit-text-stroke-color: #fff;
    border: 3px solid #fff;
}

/* AboutPage team */
.w3l-team {
    background: #fff;
}

.team-member,
.team-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
    border-radius: 8px;
}

.team-details {
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 0;
    padding: 10%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    transition: all .2s ease-in-out;
}

.team-details p {
    color: #fff;
    font-size: 20px;
}

.team-img:hover .team-details {
    opacity: 1;
    margin-top: -100px;
}

.team-img:hover .overlay {
    opacity: 1;
}

.socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
}

.socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.2s linear;
}

.team-details .socials i {
    color: #fff;
}

.socials a:hover i {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.title-content {
    max-width: 800px;
    margin: auto;
}

.team-title {
    margin: 25px 0 5px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none !important;
    color: #090909;
}

.team-title:hover a {
    /* color: #009f4d; */
    text-decoration: none;
}

.team-title:hover {
    color: #009f4d;
    text-decoration: none !important;
}

/* feature */
/* .w3l-content-4 {
    background: #f7f7f7;
}
.title-content {
    max-width: 800px;
    margin: auto;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.w3l-content-4 .content4-icon {
    font-size: 30px;
    text-align: center;
} */
.title-content {
    max-width: 800px;
    margin: auto;
}

.w3l-content-4 {
    background: #f7f7f7
}

.w3l-content-4 .content-info-in h6 {
    margin: 0px 0 12px 0;
}

.w3l-content-4 .content-info-in h6 a {
    text-align: left;
    margin-bottom: 0;
    color: #090909;
    font-weight: 600;
    font-size: 24px;
}

.w3l-content-4 .content-info-in h6 a:hover {
    color: #009f4d;
    text-decoration: none;
}

.w3l-content-4 .content4-icon {
    font-size: 30px;
    text-align: center;
}

.w3l-content-4 .content4-right-info {
    padding-left: 0;
}

.w3l-content-4 .content4-icon span.fa {
    margin-top: 4px;
    vertical-align: super;
    color: var(--primary-color);
}

.w3l-content-4 .content4-icon.icon-clr1 span.fa,
.w3l-content-4 .content4-icon.icon-clr2 span.fa,
.w3l-content-4 .content4-icon.icon-clr3 span.fa,
.w3l-content-4 .content4-icon.icon-clr4 span.fa {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 8px;
}

.w3l-content-4 .content4-icon.icon-clr1 span.fa {
    color: #009f4d;
    border: 1px solid;
}

.w3l-content-4 .content4-icon.icon-clr2 span.fa {
    color: #ff4c4c;
    border: 1px solid;
}

.w3l-content-4 .content4-icon.icon-clr3 span.fa {
    color: #009f4d;
    border: 1px solid;
}

.w3l-content-4 .content4-icon.icon-clr4 span.fa {
    color: #f48924;
    border: 1px solid;
}

/* w3l-project-contact */
.w3l-project p {
    color: #eee;
}

.bottom-info {
    max-width: 700px;
    margin: 0 auto;
}